/*

This file contains tests for CSS3 Border images
Method of using images for borders

See: https://caniuse.com/border-image

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
