/*

This file contains tests for CSS3 Media Queries
Method of applying styles based on media information. Includes things like page and device dimensions

See: https://caniuse.com/css-mediaqueries

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-mediaqueries: 0
*/
