/*

This file contains tests for CSS Backdrop Filter
Method of applying filter effects (like blur, grayscale or hue) to content/elements below the target element.

See: https://caniuse.com/css-backdrop-filter

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
