/*

This file contains tests for CSS Repeating Gradients
Method of defining a repeating linear or radial color gradient as a CSS image.

See: https://caniuse.com/css-repeating-gradients

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
