/*

This file contains tests for CSS clip-path property (for HTML)
Method of defining the visible region of an HTML element using SVG or a shape definition.

See: https://caniuse.com/css-clip-path

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
