/*

This file contains tests for :has() CSS relational pseudo-class
Select elements containing specific content. For example, `a:has(img)` selects all `<a>` elements that contain an `<img>` child.

See: https://caniuse.com/css-has

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
