/*

This file contains tests for :focus-within CSS pseudo-class
The `:focus-within` pseudo-class matches elements that either themselves match `:focus` or that have descendants which match `:focus`.

See: https://caniuse.com/css-focus-within

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
