/*

This file contains tests for CSS3 Transitions
Simple method of animating certain properties of an element, with ability to define property, duration, delay and timing function. 

See: https://caniuse.com/css-transitions

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
