/*

This file contains tests for CSS resize property
Method of allowing an element to be resized by the user, with options to limit to a given direction. 

See: https://caniuse.com/css-resize

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
