/*

This file contains tests for CSS3 image-orientation
CSS property used generally to fix the intended orientation of an image. This can be done using 90 degree increments or based on the image's EXIF data using the "from-image" value.

See: https://caniuse.com/css-image-orientation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-image-orientation: 0
*/
