/*

This file contains tests for CSS unset value
A CSS value that's the same as "inherit" if a property is inherited or "initial" if a property is not inherited.

See: https://caniuse.com/css-unset-value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
