/*

This file contains tests for CSS Cross-Fade Function
Image function to create a "crossfade" between images. This allows one image to transition (fade) into another based on a percentage value.

See: https://caniuse.com/css-cross-fade

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
