/*

This file contains tests for CSS Paged Media (@page)
CSS at-rule (`@page`) to define page-specific rules when printing web pages, such as margin per page and page dimensions.

See: https://caniuse.com/css-paged-media

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-paged-media: 0
*/
