/*

This file contains tests for CSS3 Text-shadow
Method of applying one or more shadow or blur effects to text

See: https://caniuse.com/css-textshadow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-textshadow: 0
*/
