/*

This file contains tests for CSS Counters
Method of controlling number values in generated content, using the `counter-reset` and `counter-increment` properties.

See: https://caniuse.com/css-counters

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
