/*

This file contains tests for CSS initial value
A CSS value that will apply a property's initial value as defined in the CSS specification that defines the property

See: https://caniuse.com/css-initial-value

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
