/*

This file contains tests for CSS content-visibility
Provides control over when elements are rendered, so rendering can be skipped for elements not yet in the user's viewport. 

See: https://caniuse.com/css-content-visibility

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
