/*

This file contains tests for CSS Animation
Complex method of animating certain properties of an element

See: https://caniuse.com/css-animation

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
