/*

This file contains tests for CSS Conical Gradients
Method of defining a conical or repeating conical color gradient as a CSS image.

See: https://caniuse.com/css-conic-gradients

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
