/*

This file contains tests for CSS caret-color
The `caret-color` property allows the color to be set of the caret (blinking text insertion pointer) in an editable text area.

See: https://caniuse.com/css-caret-color

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
