/*

This file contains tests for CSS @when / @else conditional rules
Syntax allowing CSS conditions (like media and support queries) to be written more simply, as well as making it possibly to write mutually exclusive rules using `@else` statements.

See: https://caniuse.com/css-when-else

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-when-else: 0
*/
