/*

This file contains tests for CSS image-set
Method of letting the browser pick the most appropriate CSS image from a given set.

See: https://caniuse.com/css-image-set

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-image-set: 0
*/
