/*

This file contains tests for :in-range and :out-of-range CSS pseudo-classes
If a temporal or number `<input>` has `max` and/or `min` attributes, then `:in-range` matches when the value is within the specified range and `:out-of-range` matches when the value is outside the specified range. If there are no range constraints, then neither pseudo-class matches.

See: https://caniuse.com/css-in-out-of-range

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-in-out-of-range: 0
*/
