/*

This file contains tests for CSS all property
A shorthand property for resetting all CSS properties except for `direction` and `unicode-bidi`.

See: https://caniuse.com/css-all

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
