/**
 * This file contains tests for CSS @when / @else conditional rules
 * See: https://caniuse.com/css-when-else
 *
 * TODO: create a test for this feature and move it to ../unimplemented
 * TODO: write an implementation for this feature and move it to ../
 */
