/*

This file contains tests for CSS3 Opacity
Method of setting the transparency level of an element

See: https://caniuse.com/css-opacity

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-opacity: 0
*/
