/**
 * This file contains tests for :placeholder-shown CSS pseudo-class
 * See: https://caniuse.com/css-placeholder-shown
 *
 * TODO: create a test for this feature and move it to ../unimplemented
 * TODO: write an implementation for this feature and move it to ../
 */
