/*

This file contains tests for CSS font-display
`@font-face` descriptor `font-display` that allows control over how a downloadable font renders before it is fully loaded.

See: https://caniuse.com/css-font-rendering-controls

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
