/*

This file contains tests for CSS.supports() API
The CSS.supports() static methods returns a Boolean value indicating if the browser supports a given CSS feature, or not.

See: https://caniuse.com/css-supports-api

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-supports-api: 0
*/
