/*

This file contains tests for :optional CSS pseudo-class
The `:optional` pseudo-class matches form inputs (`<input>`, `<textarea>`, `<select>`) which are not `:required`.

See: https://caniuse.com/css-optional-pseudo

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-optional-pseudo: 0
*/
