/*

This file contains tests for CSS text-indent
The `text-indent` property applies indentation to lines of inline content in a block.

See: https://caniuse.com/css-text-indent

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-text-indent: 0
*/
