/*

This file contains tests for Rebeccapurple color
The new color added in CSS Color Module Level 4

See: https://caniuse.com/css-rebeccapurple

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
