/*

This file contains tests for CSS scrollbar styling
Methods of styling scrollbars' color and width.

See: https://caniuse.com/css-scrollbar

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
