/*

This file contains tests for CSS Variables (Custom Properties)
Permits the declaration and usage of cascading variables in stylesheets.

See: https://caniuse.com/css-variables

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
