/*

This file contains tests for :placeholder-shown CSS pseudo-class
Input elements can sometimes show placeholder text as a hint to the user on what to type in. See, for example, the placeholder attribute in HTML5. The :placeholder-shown pseudo-class matches an input element that is showing such placeholder text.

See: https://caniuse.com/css-placeholder-shown

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-placeholder-shown: 0
*/
