/*

This file contains tests for CSS math functions min(), max() and clamp()
More advanced mathematical expressions in addition to `calc()`

See: https://caniuse.com/css-math-functions

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
