/**
 * This file contains tests for CSS resize property
 * See: https://caniuse.com/css-resize
 *
 * TODO: create a test for this feature and move it to ../unimplemented
 * TODO: write an implementation for this feature and move it to ../
 */
