/*

This file contains tests for CSS position:fixed
Method of keeping an element in a fixed location regardless of scroll position

See: https://caniuse.com/css-fixed

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
