/*

This file contains tests for #rrggbbaa hex color notation
The CSS Color Module Level 4 defines new 4 & 8 character hex notation for color to include the opacity level.

See: https://caniuse.com/css-rrggbbaa

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
