/*

This file contains tests for CSS Container Queries (Size)
Size queries in Container Queries provide a way to query the size of a container, and conditionally apply CSS to the content of that container.

See: https://caniuse.com/css-container-queries

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
