/*

This file contains tests for CSS Scroll Snap
CSS technique that allows customizable scrolling experiences like pagination of carousels by setting defined snap positions.

See: https://caniuse.com/css-snappoints

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
