/*

This file contains tests for CSS Masks
Method of displaying part of an element, using a selected image as a mask

See: https://caniuse.com/css-masks

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
