/**
 * This file contains tests for CSS 2.1 selectors
 * See: https://caniuse.com/css-sel2
 *
 * TODO: create a test for this feature and move it to ../unimplemented
 * TODO: write an implementation for this feature and move it to ../
 */
