/*

This file contains tests for CSS filter() function
This function filters a CSS input image with a set of filter functions (like blur, grayscale or hue)

See: https://caniuse.com/css-filter-function

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-filter-function: 0
*/
