/*

This file contains tests for CSS @scroll-timeline
CSS property that allows animations to be driven by a container's scroll position

See: https://caniuse.com/css-scroll-timeline

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-scroll-timeline: 0
*/
