/*

This file contains tests for CSS Relative colors
The CSS Relative Color syntax allows a color to be defined relative to another color using the `from` keyword and optionally `calc()` for any of the color values.

See: https://caniuse.com/css-relative-colors

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css-relative-colors: 0
*/
