/*

This file contains tests for CSS3 Box-sizing
Method of specifying whether or not an element's borders and padding should be included in size units

See: https://caniuse.com/css3-boxsizing

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css3-boxsizing: 0
*/
