/*

This file contains tests for CSS3 Cursors: zoom-in & zoom-out
Support for `zoom-in`, `zoom-out` values for the CSS3 `cursor` property.

See: https://caniuse.com/css3-cursors-newer

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
