/*

This file contains tests for CSS3 tab-size
Method of customizing the width of the tab character. Only effective using 'white-space: pre', 'white-space: pre-wrap', and 'white-space: break-spaces'.

See: https://caniuse.com/css3-tabsize

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
css3-tabsize: 0
*/
