/*

This file contains tests for CSS currentColor value
A CSS value that will apply the existing `color` value to other properties like `background-color`, etc. 

See: https://caniuse.com/currentcolor

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
currentcolor: 0
*/
