/*

This file contains tests for ui-serif, ui-sans-serif, ui-monospace and ui-rounded values for font-family
Allows more control when choosing system interface fonts

See: https://caniuse.com/extended-system-fonts

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
extended-system-fonts: 0
*/
