/*

This file contains tests for gap property for Flexbox
`gap` for flexbox containers to create gaps/gutters between flex items

See: https://caniuse.com/flexbox-gap

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
flexbox-gap: 0
*/
