/*

This file contains tests for CSS font-smooth
Controls the application of anti-aliasing when fonts are rendered.

See: https://caniuse.com/font-smooth

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
font-smooth: 0
*/
