/*

This file contains tests for system-ui value for font-family
Value for `font-family` that represents the default user interface font.

See: https://caniuse.com/font-family-system-ui

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
font-family-system-ui: 0
*/
