/*

This file contains tests for @font-face Web fonts
Method of displaying fonts downloaded from websites

See: https://caniuse.com/fontface

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
