/*

This file contains tests for Full Screen API
API for allowing content (like a video or canvas element) to take up the entire screen.

See: https://caniuse.com/fullscreen

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
fullscreen: 0
*/
