/*

This file contains tests for getComputedStyle
API to get the current computed CSS styles applied to an element. This may be the current value applied by an animation or as set by a stylesheet.

See: https://caniuse.com/getcomputedstyle

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
getcomputedstyle: 0
*/
