/*

This file contains tests for CSS inline-block
Method of displaying an element as a block while flowing it with text. 

See: https://caniuse.com/inline-block

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
inline-block: 0
*/
