/*

This file contains tests for isolate-override from unicode-bidi


See: This feature comes from MDN: https://developer.mozilla.org/en-US/search?q=isolate-override+from+unicode-bidi

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
mdn-css-unicode-bidi-isolate-override: 0
*/
