/*

This file contains tests for text-decoration shorthand property


See: This feature comes from MDN: https://developer.mozilla.org/en-US/search?q=text-decoration+shorthand+property

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
mdn-text-decoration-shorthand: 0
*/
