/*

This file contains tests for CSS3 Multiple column layout
Method of flowing information in multiple columns

See: https://caniuse.com/multicolumn

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
multicolumn: 0
*/
