/*

This file contains tests for CSS3 Multiple backgrounds
Method of using multiple images as a background

See: https://caniuse.com/multibackgrounds

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
