/*

This file contains tests for prefers-reduced-motion media query
CSS media query based on a user preference for preferring reduced motion (animation, etc).

See: https://caniuse.com/prefers-reduced-motion

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
prefers-reduced-motion: 0
*/
