/*

This file contains tests for prefers-color-scheme media query
Media query to detect if the user has set their system to use a light or dark color theme.

See: https://caniuse.com/prefers-color-scheme

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
prefers-color-scheme: 0
*/
