/*

This file contains tests for CSS3 Text-overflow
Append ellipsis when text overflows its containing element

See: https://caniuse.com/text-overflow

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
