/*

This file contains tests for CSS user-select: none
Method of preventing text/element selection using CSS. 

See: https://caniuse.com/user-select-none

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/

/*
expect:
user-select-none: 0
*/
