/*

This file contains tests for ch (character) unit
Unit representing the width of the character "0" in the current font, of particular use in combination with monospace fonts.

See: https://caniuse.com/ch-unit

*/

/*
expect:
ch-unit: 1
*/

.test {
  width: 80ch;
}
