/*

This file contains tests for CSS Scroll-behavior
Method of specifying the scrolling behavior for a scrolling box, when scrolling happens due to navigation or CSSOM scrolling APIs.

See: https://caniuse.com/css-scroll-behavior

*/

/*
expect:
css-scroll-behavior: 1
*/

.test {
  scroll-behavior: smooth;
}
