/*

This file contains tests for letter-spacing CSS property
Controls spacing between characters of text (i.e. "tracking" in typographical terms). Not to be confused with kerning.

See: https://caniuse.com/css-letter-spacing

*/

/*
expect:
css-letter-spacing: 3
*/

.test {
  letter-spacing: 0.3em;
  letter-spacing: 3px;
  letter-spacing: 0.3px;
}
