/*

This file contains tests for selector list argument of :nth-child and :nth-last-child CSS pseudo-classes
The newest versions of `:nth-child()` and `:nth-last-child()` accept an optional `of S` clause which filters the children to only those which match the selector list `S`. For example, `:nth-child(1 of .foo)` selects the first child among the children that have the `foo` class (ignoring any non-`foo` children which precede that child). Similar to `:nth-of-type`, but for arbitrary selectors instead of only type selectors.

See: https://caniuse.com/css-nth-child-of

*/

/*
expect:
css-nth-child-of: 2
*/

.test:nth-child(1 of .foo) {
  color: red;
}

.test:nth-last-child(1 of .foo) {
  color: red;
}
