/*

This file contains tests for :has() CSS relational pseudo-class
Select elements containing specific content. For example, `a:has(img)` selects all `<a>` elements that contain an `<img>` child.

See: https://caniuse.com/css-has

*/

/*
expect:
css-has: 4
*/

h1:has(+ p) {
  margin-bottom: 0;
}

h1:has(h2 h3) {
  margin: 0 0 0.25rem 0;
}

body:has(video, audio) {
  /* styles to apply if the content contains audio OR video */
  color: red;
}

body:has(video):has(audio) {
  /* styles to apply if the content contains both audio AND video */
  color: red;
}
