/*

This file contains tests for Rebeccapurple color
The new color added in CSS Color Module Level 4

See: https://caniuse.com/css-rebeccapurple

*/

/*
expect:
css-rebeccapurple: 1
*/

.test {
  color: rebeccapurple;
}
