/*

This file contains tests for CSS :read-only and :read-write selectors
:read-only and :read-write pseudo-classes to match elements which are considered user-alterable

See: https://caniuse.com/css-read-only-write

*/

/*
expect:
css-read-only-write: 2
*/

.test:read-only {
  color: red;
}

.test:read-write {
  color: blue;
}
