/*

This file contains tests for CSS Appearance
The `appearance` property defines how elements (particularly form controls) appear by default. By setting the value to `none` the default appearance can be entirely redefined using other CSS properties.

See: https://caniuse.com/css-appearance

*/

/*
expect:
css-appearance: 3
*/

.thing {
  -webkit-appearance: value;
  -moz-appearance: value;
  appearance: value;
}
