/*

This file contains tests for CSS print-color-adjust
The `print-color-adjust` (or `-webkit-print-color-adjust` as prefixed in WebKit/Blink browsers) property is a CSS extension that can be used to force printing of background colors and images.

See: https://caniuse.com/css-color-adjust

*/

/*
expect: css-color-adjust: 2
*/

.test {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}
