/*

This file contains tests for CSS box-decoration-break
Controls whether the box's margins, borders, padding, and other decorations wrap the broken edges of the box fragments (when the box is split by a break (page/column/region/line).

See: https://caniuse.com/css-boxdecorationbreak

*/

/*
expect:
css-boxdecorationbreak: 4
*/

.test {
  box-decoration-break: slice;
  box-decoration-break: clone;
  -webkit-box-decoration-break: slice;
  -webkit-box-decoration-break: clone;
}
