/*

This file contains tests for :indeterminate CSS pseudo-class
The `:indeterminate` pseudo-class matches indeterminate checkboxes, indeterminate `<progress>` bars, and radio buttons with no checked button in their radio button group.

See: https://caniuse.com/css-indeterminate-pseudo

*/

/*
expect:
css-indeterminate-pseudo: 1
*/

/* Selects any <input> whose state is indeterminate */
input:indeterminate {
  background: lime;
}
