/*

This file contains tests for :optional CSS pseudo-class
The `:optional` pseudo-class matches form inputs (`<input>`, `<textarea>`, `<select>`) which are not `:required`.

See: https://caniuse.com/css-optional-pseudo

*/

/*
expect:
css-optional-pseudo: 1
*/

.test:optional {
  color: red;
}
