/*

This file contains tests for CSS3 text-align-last
CSS property to describe how the last line of a block or a line right before a forced line break when `text-align` is `justify`.

See: https://caniuse.com/css-text-align-last

*/

/*
expect:
css-text-align-last: 1
*/

.test {
  text-align-last: justify;
}
