/*

This file contains tests for CSS widows & orphans
CSS properties to control when lines break across pages or columns by defining the amount of lines that must be left before or after the break.

See: https://caniuse.com/css-widows-orphans

*/

/*
expect:
css-widows-orphans: 2
*/

.test {
  widows: 2;
  orphans: 2;
}
