/*

This file contains tests for CSS Counters
Method of controlling number values in generated content, using the `counter-reset` and `counter-increment` properties.

See: https://caniuse.com/css-counters

*/

/*
expect:
css-counters: 6
*/

:root {
  counter-reset: link;
}

a[href] {
  counter-increment: link;
}

a[href]:empty::after {
  content: "[" counter(link) "]";
}

body {
  counter-reset: reversed(section);
}

h3::before {
  counter-increment: section -1;
  content: "Section " counter(section) ": ";
}
