/*

This file contains tests for CSS ::marker pseudo-element
The `::marker` pseudo-element allows list item markers to be styled or have their content value customized.

See: https://caniuse.com/css-marker-pseudo

*/

/*
expect:
css-marker-pseudo: 1
*/

.test::marker {
  color: red;
}
