/*

This file contains tests for selector list argument of :not()
Selectors Level 3 only allowed `:not()` pseudo-class to accept a single simple selector,
which the element must not match any of. Thus, `:not(a, .b, [c])` or `:not(a.b[c])` did not work. 
Selectors Level 4 allows `:not()` to accept a list of selectors. Thus, `:not(a):not(.b):not([c])` can 
instead be written as `:not(a, .b, [c])` and `:not(a.b[c])` works as intended.

See: https://caniuse.com/css-not-sel-list

*/

/*
expect:
css-not-sel-list: 4
*/

.test:not(a, .b, [c]) {
  color: red;
}

.test:not(a.b[c]) {
  color: blue;
}

.test:not(a, b) {
  color: red;
}

.test:not(a.b) {
  color: red;
}

/* these shouldn't be flagged */
.test:not(a) {
  color: red;
}
.test:not(.b):not([c]) {
  color: red;
}
