/*

This file contains tests for CSS3 Cursors (original values)
CSS3 cursor values added in the 2004 spec,
including 
none,
context-menu,
cell,
vertical-text,
alias,
copy,
no-drop,
not-allowed,
nesw-resize,
nwse-resize,
col-resize,
row-resize,
all-scroll. 

See: https://caniuse.com/css3-cursors

*/

/*
expect:
css3-cursors: 13
*/

.test {
  cursor: none;
  cursor: context-menu;
  cursor: cell;
  cursor: vertical-text;
  cursor: alias;
  cursor: copy;
  cursor: no-drop;
  cursor: not-allowed;
  cursor: nesw-resize;
  cursor: nwse-resize;
  cursor: col-resize;
  cursor: row-resize;
  cursor: all-scroll;
}
