/*

This file contains tests for CSS3 Cursors: zoom-in & zoom-out
Support for `zoom-in`, `zoom-out` values for the CSS3 `cursor` property.

See: https://caniuse.com/css3-cursors-newer

*/

/*
expect:
css3-cursors-newer: 2
*/

.test {
  cursor: zoom-in;
  cursor: zoom-out;
}
