/*

This file contains tests for gap property for Flexbox
`gap` for flexbox containers to create gaps/gutters between flex items

See: https://caniuse.com/flexbox-gap

*/

/*
expect:
flexbox-gap: 5
*/

.test {
  display: flex;
  gap: 1rem;
}

.test {display:flex;gap:1rem;}

.test {
  display: /* some-comment */ flex;
  gap: 1rem;
}

.test {
  display: flex;
  row-gap: 1rem;
}

.test {
  display: flex;
  column-gap: 1rem;
}

/* should not trigger */
.test {
  display: grid;
  gap: 1rem;
}

.test {display: flex;}

.test {
  display: block;
  gap: 1rem;
}
