/*

This file contains tests for CSS font-variant-numeric
CSS property that provides different ways of displaying numbers, fractions, and ordinal markers.

See: https://caniuse.com/font-variant-numeric

*/

/*
expect:
font-variant-numeric: 1
*/

@font-face {
  font-family: "My Font";
  src: url("myfont.woff2") format("woff2");
  font-variant-numeric: oldstyle-nums;
}
