/*

This file contains tests for isolate-override from unicode-bidi


See: This feature comes from MDN: https://developer.mozilla.org/en-US/search?q=isolate-override+from+unicode-bidi

*/

/*
expect:
mdn-css-unicode-bidi-isolate-override: 1
*/

.test {
  unicode-bidi: isolate-override;
}
