/*

This file contains tests for text-decoration-line property


See: This feature comes from MDN: https://developer.mozilla.org/en-US/search?q=text-decoration-line+property


*/

/*
expect:
mdn-text-decoration-line: 1
*/

.test {
  text-decoration-line: underline;
}
