/*

This file contains tests for CSS3 Multiple column layout
Method of flowing information in multiple columns

See: https://caniuse.com/multicolumn

*/

/*
expect:
multicolumn: 2
*/

.test {
  column-count: 2;
  columns: 2;
}