/*

This file contains tests for CSS3 object-fit/object-position
Method of specifying how an object (image or video) should fit inside its box. object-fit options include "contain" (fit according to aspect ratio), "fill" (stretches object to fill) and "cover" (overflows box but maintains ratio), where object-position allows the object to be repositioned like background-image does.

See: https://caniuse.com/object-fit


*/

/*
expect:
object-fit: 2
*/

.test {
  object-fit: cover;
  object-position: 50% 50%;
}
