/*

This file contains tests for SVG in CSS backgrounds
Method of using SVG images as CSS backgrounds

See: https://caniuse.com/svg-css

*/

/*
expect:
svg-css: 1
*/

.test {
  background: url(1.svg);
}
