/*

This file contains tests for text-emphasis styling
Method of using small symbols next to each glyph to emphasize a run of text, commonly used in East Asian languages. The `text-emphasis` shorthand, and its `text-emphasis-style` and `text-emphasis-color` longhands, can be used to apply marks to the text. The `text-emphasis-position` property, which inherits separately, allows setting the emphasis marks' position with respect to the text.

See: https://caniuse.com/text-emphasis


*/

/*
expect:
text-emphasis: 4
*/

.test {
  text-emphasis: filled dot;
  text-emphasis-color: red;
  text-emphasis-style: circle;
  text-emphasis-position: over right;
}
