/*

This file contains tests for TTF/OTF - TrueType and OpenType font support
Support for the TrueType (.ttf) and OpenType (.otf) outline font formats in @font-face. 

See: https://caniuse.com/ttf

*/

/*
expect:
ttf: 2
*/

@font-face {
  font-family: "test";
  src: url("test.ttf");
}

@font-face {
  font-family: "test";
  src: url("test.otf");
}
