/*

This file contains tests for Small, Large, and Dynamic viewport units
Viewport units similar to `vw` and `vh` that are based on shown or hidden browser UI states to address shortcomings of the original units. 
Currently defined as the `sv*` units (`svb`, `svh`, `svi`, `svmax`, `svmin`, `svw`), 
`lv*` units (`lvb`, `lvh`, `lvi`, `lvmax`, `lvmin`, `lvw`), 
`dv*` units (`dvb`, `dvh`, `dvi`, `dvmax`, `dvmin`, `dvw`) and the 
logical `vi`/`vb` units.

See: https://caniuse.com/viewport-unit-variants

*/

/*
expect:
viewport-unit-variants: 20
*/

.test {
  /* sv* units */
  width: 100svb;
  width: 100svh;
  width: 100svi;
  width: 100svmax;
  width: 100svmin;
  width: 100svw;

  /* lv* units */
  width: 100lvb;
  width: 100lvh;
  width: 100lvi;
  width: 100lvmax;
  width: 100lvmin;
  width: 100lvw;

  /* dv* units */
  width: 100dvb;
  width: 100dvh;
  width: 100dvi;
  width: 100dvmax;
  width: 100dvmin;
  width: 100dvw;

  /* vi/vb units */
  width: 100vi;
  width: 100vb;

  /* should not trigger */ 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjU4NiA4TDQuMjkzIDUuNzA3YS45OTkuOTk5IDAgMTExLjQxNC0xLjQxNEw4IDYuNTg1bDIuMjkzLTIuMjkyYTEgMSAwIDAxMS40MTQgMS40MTNMOS40MTQgOGwyLjI5MyAyLjI5NGExIDEgMCAwMS0xLjQxNCAxLjQxNEw4IDkuNDEzbC0yLjI5MyAyLjI5M2ExIDEgMCAwMS0xLjQxNC0xLjQxNUw2LjU4NiA4eiIgZmlsbD0iIzI3MkIzNyIgZmlsbC1vcGFjaXR5PSIuMiIvPjwvc3ZnPg==")
}
