/**
 * This file contains tests for FULL_NAME
 * See: LINK_TO_FEATURE
 *
 * TODO: create a test for this feature and move it to ../unimplemented
 * TODO: write an implementation for this feature and move it to ../
 */
